<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.howso.deeplan.perm.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="cn.howso.deeplan.perm.model.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
  </resultMap>
</mapper>