<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.howso.deeplan.perm.mapper.PermUriMapper" >
  <resultMap id="BaseResultMap" type="cn.howso.deeplan.perm.model.PermUri" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="cn.howso.deeplan.perm.dto.PermUriWithPerm" id="PermUriWithPerm" extends="BaseResultMap">
	<collection property="perms" column="id" columnPrefix="perms$" resultMap="cn.howso.deeplan.perm.mapper.PermMapper.BaseResultMap">
  		<!-- <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="pattern" property="pattern" jdbcType="VARCHAR" />
	    <result column="note" property="note" jdbcType="VARCHAR" />
	    <result column="space_id" property="spaceId" jdbcType="INTEGER"/>
	    <result column="uri_id" property="uriId" jdbcType="INTEGER"/> -->
	</collection>
  </resultMap>
  <select id="queryFetchPerm" resultMap="PermUriWithPerm">
  	select t1.id,t1.method,t1.uri,t1.note,
  	t2.id as perms$id,t2.note as perms$note,t2.pattern as perms$pattern,t2.space_id as perms$space_id,t2.uri_id as perms$uri_id
  	from sys_perm_uri t1
  	left join sys_perm t2
  	on t1.id = t2.uri_id
  </select>
</mapper>