<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.howso.deeplan.perm.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="cn.howso.deeplan.perm.model.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="BIT" />
  </resultMap>
  <resultMap type="cn.howso.deeplan.perm.dto.RoleWithPerms" id="RoleWithPerms" extends="BaseResultMap">
  	<collection property="perms" ofType="cn.howso.deeplan.perm.model.Perm" column="id" columnPrefix="t3_">
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="pattern" property="pattern" jdbcType="VARCHAR" />
	    <result column="note" property="note" jdbcType="VARCHAR" />
	    <result column="space_id" property="spaceId" jdbcType="INTEGER"/>
	    <result column="uri_id" property="uriId" jdbcType="INTEGER"/>
    </collection>
  </resultMap>
  <select id="queryByUserName" parameterType="string" resultMap="BaseResultMap">
  	select t1.id,t1.name from sys_role t1
  	left join sys_user_role_mid t2
  	on t1.id = t2.role_id
  	left join sys_user t3
  	on t2.user_id = t3.id
  	and t3.valid=true
  	where t3.name = #{username}
  	and t1.valid=true
  </select>
  <select id="queryByUserNameFetchPerms" parameterType="string" resultMap="RoleWithPerms">
  	select t1.id,t1.name,t3.id t3_id,t3.pattern t3_pattern,t3.note t3_note,t3.space_id as t3_space_id
  	from sys_role t1
  	left join sys_role_perm_mid t2
  	on t1.id = t2.role_id
  	left join sys_perm t3
  	on t2.perm_id = t3.id
  	left join sys_user_role_mid t4
  	on t4.role_id = t1.id
  	left join sys_user t5
  	on t4.user_id = t5.id
  	and t5.valid=true
  	where t5.name = #{username}
  	and t1.valid=true
  </select>
  
</mapper>